h3 {
  margin-left: 5px;
  font-size: 18px;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  color: blue
}

h4 {
  margin-left: 5px;
  font-size: 16px;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  color: black
}

h5 {
  margin-left: 5px;
  font-size: 14px;
  font-family: 'Courier New', Courier, monospace;
  color: black
}
p{
  margin: 5px;
}
.outline {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 15px;
  position: relative;
}
.btnPad {
  padding-left: 10px;
}